*{
font-family: 'Poppins', sans-serif;
color: #2F281E;
}

body {
   max-width: 100%;
   overflow-x: hidden;
}

.color-theme{
    color: #502EFF !important;
}

.color-theme-opacity{
    color: #512eff20 !important;
}

.btn-white{
    background-color: #fff !important;
    transition: 0.3s;
    color: #502EFF !important;
}

.btn-white:hover{
    background-color: rgb(182, 179, 179) !important;
    transition: 0.3s;
    color: #502EFF !important;
}

.width-125{
    width: 125px;
}

.btn-custom{
    background-color: #502EFF !important;
    transition: 0.3s;
    color: #fff !important;
}

.btn-custom:hover {
    background-color:#3c24b3 !important;
    color: #fff !important;
}

.link{
    color: #502EFF;
    transition: 0.3s;
    text-decoration: none;
}

.link:hover{
    color: #3c24b3;
}

.width-1n8x{
    width: 180px;
}

.width-2x{
    width: 200px;
}

.width-3x{
    width: 300px;
}

.width-4x{
    width: 400px;
}

.width-5x{
    width: 500px;
}

.max-width-1x{
    max-width: 200px;
}

.max-width-2x{
    max-width: 300px;
}

.max-width-3x{
    max-width: 400px;
}

.max-width-4x{
    max-width: 500px;
}

.max-width-5x{
    max-width: 600px;
}

.bold-1{
    font-weight: 500;
}

.bold-2{
    font-weight: 600;
}

.bold-3{
    font-weight: 700;
}

.bold-4{
    font-weight: 800;
}

.bold-5{
    font-weight: 900;
}